<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navbar.ejs') %>

        <main>
          <% if (products.length > 0) { %>
            <ul>
              <% products.forEach(p =>{ %>
                <li>
                  <p><%= p.productId.title %> (<%= p.quantity %>)</p>
                  <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="productId" value="<%= p.productId._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <button class="btn" type="submit">Delete</button>
                  </form>
                </li>
              <% }) %>
            </ul>
            <div class="centered">
              
              <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>">

              <button type="submit" class="btn">Order Now!</button> -->
              <a href="/checkout" class="btn">Order Now!</a>
              
            </div>
          <% } else { %>
            <h1>No Products in Cart!</h1>
          <% } %>
        </main>

        <%- include('../includes/end.ejs') %>